#game_board {
    margin: 0;
    padding: 0;
}

#game_board div {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    margin: 1px;
    float: left;
    font-size: 1px;
    line-height: 1px;
}

#game_board div.alive {
    background-color: darkslategrey;
}

#game_board br {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    font-size: 1px;
    line-height: 1px;
    clear: both;
}